@model IEnumerable<mvckatmani.Models.mvcBlokModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "EY")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BlokAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlokSayisi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.BlokAdi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BlokSayisi)
    </td>
    <td>
        @Html.ActionLink("Edit", "EY", new { id = item.BlokNo }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.BlokNo })
    </td>
</tr>
}

</table>
